@namespace Solution.MAUI_Blazor.Components


@if(_show){
    <div class="div1">
        <div class="div2">
            <h4>@Text</h4>
            <button @onclick="()=>CloseMessage(true)" class="btn btn-primary" >Aceptar</button>
            <button @onclick="()=>CloseMessage(false)" class="btn btn-secondary" >Cancelar</button>
        </div>
    </div>
}

@code {
    bool _show = false;
    [Parameter] public string Text {get; set;} = "";
    [Parameter] public EventCallback eventCallback {get; set;}

    void CloseMessage(bool ok){
        _show = false;
        if(ok){
            eventCallback.InvokeAsync();
        }
    }
    public void ShowMessage(){
        _show = true;
    }
}
