@page "/cubelist"
@inject CubeUseCaseList cubelist
@inject NavigationManager navigationManager

<h3>Lista de cubos</h3>
<table class="table">
    <thead>
        <tr>
            <th>Cubo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cube in _list){
            <tr>
                <td>@cube.Text</td>
                <td>
                    <button @onclick="()=>_ShowCube(cube)" class="btn btn-primary">Ver</button>
                </td>
            </tr>
        }
        <tr>
            <td>---</td>
            <td>
                <button @onclick="_GoAddCube" class="btn btn-primary" >Agregar cubo</button>
            </td>
        </tr>
    </tbody>
</table>


@code {
    private List<Cube> _list = new List<Cube>();
    protected override void OnInitialized(){
        _list = cubelist.Execute();
    }

    private void _ShowCube(Cube cube){
        navigationManager.NavigateTo($"cube/{cube.Id}");
    }
    private void _GoAddCube(){
        navigationManager.NavigateTo("/addcube");
    }
}